.dance-instructor-section {

    color: white;
    
  }
  
  .custom-heading {
    font-family: 'serif';
    margin: 0;
  }
  
  .custom-paragraph {
    font-size: 0.9rem;
     
  }
  .text-column {
    
    text-align: justify;
}
  
  
  img {
    max-width: 100%;
    border-radius: 10px;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 40px;
}

@media (max-width: 1024px) {
  .text-column{
    font-size: 1rem;
    text-align: justify;
  }
}